*{
    font-family: 'Roboto', sans-serif;
    
}

.main h1{
    margin-bottom: 40px;
    font-size: 30px;
}

.main{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    border-radius:6%;
    box-shadow: 1px 1px 1px 1px #5b819b;
    color: #092e47;
    
    background:transparent;
    background-color: rgb(254, 255, 255);
}

.main::before{
    background: url("D:/projectws/FindPartner/client/public/pexels-johannes-plenio-1103970.jpg")no-repeat center center/cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 2;
}
.container{
    height: 335px;  
   
}

#btn {
    width: 100%;
    background: #092e47;
    background-image: -webkit-linear-gradient(top, #092e47, #2070a1);
    background-image: -moz-linear-gradient(top, #092e47, #2070a1);
    background-image: -ms-linear-gradient(top, #092e47, #2070a1);
    background-image: -o-linear-gradient(top, #092e47, #2070a1);
    background-image: linear-gradient(to bottom, #092e47, #2070a1);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #eceaf2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .btn:hover {
    background: #134261;
    background-image: -webkit-linear-gradient(top, #0c3652, #2881b5);
    background-image: -moz-linear-gradient(top, #0c3652, #2881b5);
    background-image: -ms-linear-gradient(top, #0c3652, #2881b5);
    background-image: -o-linear-gradient(top, #0c3652, #2881b5);
    background-image: linear-gradient(to bottom, #0c3652, #2881b5);
    text-decoration: none;
  }

input[type="email"],
input[type="password"]{
    width: 95%;
    height: 2rem;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
    border: solid 1px rgb(38, 45, 53);
    margin-top: 10px;
    padding-left:  10px;
}

::placeholder{
    position: relative;
    left: 90%
}