
.main{
    display: flex;
    width: 25%;
    background-color: blue;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    border-radius:8%;
    box-shadow: 2px 2px 4px 4px rgb(108, 108, 204);
    
}

.container{
    height: 325px;  
}
#btn{
    width: 40%;
}